@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* width */
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
    transition: 0.15s;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-500;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-inter;
    @apply text-gray-700;
    @apply bg-purple-50;
  }

  input,
  textarea {
    @apply focus:outline-purple-800;
  }

  .mainContent {
    height: calc(100vh - 4em);
    @apply overflow-y-auto;
  }
}
